<div class="container my-5">
  <h1 class="text-center mb-4">Drinks</h1>


  <table class="table table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price (€)</th>
        <th scope="col" class="text-end">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @beverages.each_with_index do |beverage, index| %>
        <tr>
          <td class="fw-semibold"><%= beverage.name %></td>
          <td>€ <%= number_with_precision(beverage.price, precision: 2) %></td>
          <td class="text-end">
            <%= link_to "Details", beverage_path(beverage), class: "btn btn-outline-primary btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
