<div class="d-flex justify-content-center align-items-start vh-100 bg-dark pt-1">

  <div class="container py-3 text-center">
    <h1 class="display-4 mb-2"
        style="background: linear-gradient(90deg, #f5f5dc, #daa520, #8b4513);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              text-shadow: 0 0 15px rgba(218,165,32,0.4);">
      Choose Your Sommelier
    </h1>

    <div class="row justify-content-center">
      <% @moods.each do |mood| %>
        <div class="col-md-3 mb-1">
          <div class="floating-card p-4 shadow-lg rounded-4 h-100 d-flex flex-column justify-content-between"
              style="border: 1px solid rgba(255,255,255,0.1); transition: transform 0.3s ease;"
              onmouseover="this.style.transform='scale(1.05)'"
              onmouseout="this.style.transform='scale(1)'">

              <h3 class="fw-bold mt-3 mb-1" style="color: #daa520;"><%= mood.name %></h3>

              <p class="text small mt-1 mb-1"><%= truncate(mood.description, length: 130) %></p>

              <%= button_to "Select", chats_path(mood_id: mood.id),
                      method: :post,
                      class: "btn btn-gold mb-3 mt-10 px-4 py-2 fw-bold rounded-3" %>
          </div>

        </div>
        <% end %>
    </div>


  </div>

</div>
