
<nav class="navbar navbar-expand-sm navbar-dark bg-dark border-top shadow-sm">
  <div class="container-fluid">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <%= link_to "Menu", menu_items_path, class: "nav-link px-3" %>
      </li>
      <li class="nav-item">
        <%= link_to "Wine List", wines_path, class: "nav-link px-3" %>
      </li>
      <li class="nav-item">
        <%= link_to "Drinks", beverages_path, class: "nav-link px-3" %>
      </li>
      <li class="nav-item">
        <%= link_to "My Order", order_items_path, class: "nav-link px-3" %>
      </li>
    </ul>
  </div>
</nav>
