
<div class="d-flex justify-content-center align-items-start bg-dark pt-1">
  <div class="floating-card" style="max-width: 500px; min-height: 500px;" >

    <div>
      <h1 class="display-5 mb-3 heading-gold">Private Sommelier</h1>
    </div>

    <div>
      <p class="lead mt-5 mb-5" style="color: #e6d18a; text-shadow: 0 0 10px rgba(255,215,0,0.2);">
        Let’s unfold the evening?
      </p>
    </div>

    <div class="d-grid gap-3 col-8 mx-auto" style="max-width: 600px; margin: 0 auto;">
      <%= link_to "Explore the Menu",
      menu_items_path,
      class: "btn btn-gold btn-lg" %>

      <%= link_to "Choose Your Sommelier",
      moods_path,
      class: "btn btn-gold btn-lg" %>
    </div>
  </div>
</div>
